:root{
  --color-black: #000;
  --color-black-light: #333333;
  --color-wihte: #fff;
  --color-blue:  #81B3D2;
  --color-blue-dark: #669EC0;
  --color-blue-extra-dark: #54968D;
  --color-gray:  #f2f2f2;
  --color-gray-dark: #EEEEEE;
  --color-brawn: #766357;
  --color-brawn-dark: #604E43;
  --color-brawn-extra-dark: #503E33;
  --color-black-opacity: color: rgb(0 0 0 0.3)
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-black-light);
  background-color: var(--color-wihte);
  list-style: none;
  width: 1200px;
  margin: 0, auto;
}

.main-menu{
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.main-menu a{
  color: var(--color-black);
  text-decoration: none;
  font-weight: 700;
}

.main-menu a:hover {
  color: var(--color-blue);
}
.main-menu a:active{
  color: var(--color-black);
  opacity: .3;
}

.page-main h1{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.features h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features ul{
  list-style: none;
}

.features-list{
  background-color: var(--color-gray-dark);
  padding: 0;
  margin: 0;
}

.features-with-image{
  background-color: var(--color-blue);
  color: var(--color-wihte);
}

.features-with-image-2{
  background-color: var(--color-blue);
  color: var(--color-wihte);
}

.search button{
  font-size: 24px;
  color: var(--color-wihte);
  font-weight: 700;
  border: none;
  background-color: var(--color-brawn);
}

.search button:hover {
  background-color: var(--color-brawn-dark);
}
.search button:active{
  background-color: var(--color-brawn-extra-dark);

}

.question {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  color: var(--color-black);

}

.main-footer p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.main-footer ul {
  list-style: none;
}

.main-footer .website-by {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/*style hotels*/

.sort p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort {
  color: var(--color-black)
}

.sort{
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  list-style: none;
}

.sort a{
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

.sort .ssilki{
  list-style: none;
}

.detalied{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  border: none;
}

.detalied{
  color: var(--color-wihte);
  background-color: var(--color-blue)
}

.detalied:hover {
  color: var(--color-wihte);
  background-color: var(--color-blue-dark);
}

.detalied:active {
  color: var(--color-wihte);
  background-color: var(--color-blue-extra-dark);
}

.reserved{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  border: none;
}

.reserved{
  color: var(--color-wihte);
  background-color: var(--color-brawn)
}

.reserved:hover {
  color: var(--color-wihte);
  background-color: var(--color-brawn-dark);
}

.reserved:active {
  color: var(--color-wihte);
  background-color: var(--color-brawn-extra-dark);
}

.gostinici{
  list-style: none;
}

.found-hotels h3{
 text-transform: uppercase;
 cursor: pointer;
}

.found-hotels a{
  color: var(--color-black);
}

.found-hotels a:hover{
  color: var(--color-blue);
}

.found-hotels a :active{
  color: var(--color-black);
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.ssilki a{
  color: var(--color-black);
  text-decoration: none;
  list-style: none;
}

.ssilki a:hover {
  color: var(--color-blue);
  text-decoration: none;
  list-style: none;
}

.ssilki a:active{
  color: var(--color-black);
  opacity: 0.3;
  text-decoration: none;
  list-style: none;
}

.main-ssilki{
  list-style: none;
}

.Sedona{
  text-transform: uppercase;
}

.name{
  text-transform: uppercase;
}

.main-menu:before{
content: "";
grid-column: 3/4;
grid-row: 1/-1;
}

.main-navigation{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.main-menu {
 grid-column: 1/-1;
 grid-row: 1/-1;
}

.sedona-logo {
  grid-column: 3/4;
  grid-row: 1/-1;
  justify-self: center;
}

.img-main {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.img-main img {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.img-main::after {
  content: "";
  display: block;
  height: 57px;
  width: 100%;
  background-image: url("../img/Shape.svg");
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: flex-end;
}

.features-with-image{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}

.features-with-image img{
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.Sedona{
  text-align: center;
}

.zagolovok{
  text-transform: uppercase;
  text-align: center;
}

.features-with-image-2 img{
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.features-with-image-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}

.preim{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}

.preim-proda{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}
